* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  font-family: "Bebas Neue", sans-serif;
}
body a, body li {
  list-style: none;
  text-decoration: none;
}

header {
  width: 80%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  justify-self: center;
  border-bottom: 2px solid rgba(119, 119, 119, 0.4784313725);
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(243, 247, 252) 53%, rgb(255, 255, 255) 100%);
}
header .logo-wrapper {
  height: 80px;
  width: auto;
  margin-top: 35px;
}
header .logo-wrapper > a {
  height: 80px;
  width: auto;
}
header .logo-wrapper > span {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: #516eff;
  padding-left: 15px;
  letter-spacing: 4px;
}
header nav {
  width: 50%;
  position: sticky;
}
header nav ul {
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
header nav ul a {
  letter-spacing: 2px;
}
header nav ul a li {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #52525B;
}
header nav ul a li:hover {
  cursor: pointer;
  color: #516EFF;
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}
header nav ul a li:active {
  color: rgba(81, 110, 255, 0.7764705882);
  transform: scale(0.99);
  transition: 0.3s ease-in-out;
}

.hero {
  width: 100%;
}
.hero .hero-item_wrapper {
  width: 100%;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: -direction;
}
.hero .hero-item_wrapper .hero-items_left {
  width: 50%;
  padding: 150px 0 125px 160px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.hero .hero-item_wrapper .hero-items_left .hero-items_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .hero-item_wrapper .hero-items_left .hero-items_text h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 56px;
  color: #18181B;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.hero .hero-item_wrapper .hero-items_left .hero-items_text h1 > span {
  color: #FFD700;
}
.hero .hero-item_wrapper .hero-items_left .hero-items_text > p {
  align-self: flex-start;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  margin-bottom: 70px;
  letter-spacing: 3px;
}
.hero .hero-item_wrapper .hero-items_left .hero-items_buttons {
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: -direction;
}
.hero .hero-item_wrapper .hero-items_left .hero-items_buttons > :nth-child(1) {
  padding: 16px 48px;
  border-radius: 8px;
  background-color: #516EFF;
  align-self: flex-start;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.hero .hero-item_wrapper .hero-items_left .hero-items_buttons > :nth-child(1):hover {
  cursor: pointer;
  color: #f5f796;
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
  background: rgba(81, 110, 255, 0.862745098);
}
.hero .hero-item_wrapper .hero-items_left .hero-items_buttons > :nth-child(1):active {
  color: #f7f980;
  transform: scale(0.99);
  transition: 0.3s ease-in-out;
  background: #516EFF;
}
.hero .hero-item_wrapper .hero-items_left .hero-items_buttons > :nth-child(2) {
  padding: 16px 48px;
  border-radius: 8px;
  background-color: #fff;
  align-self: flex-start;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #52525B;
}
.hero .hero-item_wrapper .hero-items_left .hero-items_buttons > :nth-child(2):hover {
  cursor: pointer;
  color: #50512f;
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
  background: rgba(255, 217, 0, 0.4470588235);
}
.hero .hero-item_wrapper .hero-items_left .hero-items_buttons > :nth-child(2):active {
  color: #f5f796;
  transform: scale(0.99);
  transition: 0.3s ease-in-out;
  background: #FFD700;
}
.hero .hero-item_wrapper .hero-items_right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .hero-item_wrapper .hero-items_right .hero-items_feedbacks {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .hero-item_wrapper .hero-items_right .hero-items_feedbacks > img {
  position: absolute;
}
.hero .hero-item_wrapper .hero-items_right .hero-items_feedbacks > :nth-child(1) {
  top: -135px;
  left: -390px;
  z-index: -1;
}
.hero .hero-item_wrapper .hero-items_right .hero-items_feedbacks > :nth-child(2) {
  top: -96px;
  z-index: 2;
}
.hero .hero-item_wrapper .hero-items_right .hero-items_feedbacks > :nth-child(3) {
  top: -177px;
  right: 300px;
}
.hero .hero-item_wrapper .hero-items_right .hero-items_feedbacks > :nth-child(4) {
  right: 300px;
  top: 200px;
  z-index: 4;
}
.hero .hero-item_wrapper .hero-items_right .hero-items_feedbacks > :nth-child(5) {
  right: 200px;
  bottom: -86px;
  z-index: 2;
}
.hero .hero-item_wrapper .hero-items_right .hero-items_feedbacks > :nth-child(6) {
  bottom: -300px;
  left: -31px;
  z-index: 4;
}
.hero .hero-item_wrapper .hero-items_right .hero-items_feedbacks > :nth-child(7) {
  top: -74px;
  left: -431px;
  z-index: 0;
}
.hero .hero-item_wrapper .hero-items_right .hero-items_feedbacks > :nth-child(8) {
  top: -190px;
  right: -53px;
  z-index: 3;
}
.hero .hero-footer {
  width: 100%;
  height: 80px;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(243, 247, 252) 53%, rgb(255, 255, 255) 100%);
}

.providing {
  width: 100%;
  height: 170px;
  background: #516EFF;
}
.providing .providing-items {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.providing .providing-items .providing-item_text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 0 150px;
}
.providing .providing-items .providing-item_text h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 46px;
  color: #fff;
}
.providing .providing-items .providing-item_text > p {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
}
.providing .providing-items .providing-item_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 200px;
  gap: 40px;
}
.providing .providing-items .providing-item_buttons > button {
  width: 106px;
  height: 100px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.providing .providing-items .providing-item_buttons > button:hover {
  cursor: pointer;
  color: #50512f;
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
  background: #f7f980;
}
.providing .providing-items .providing-item_buttons > button:active {
  color: #f5f796;
  transform: scale(0.99);
  transition: 0.3s ease-in-out;
  background: #FFD700;
}
.providing .providing-items .providing-item_buttons > button > img {
  width: 30%;
}
.providing .providing-items .providing-item_buttons > button > span {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #52525B;
}
.providing .providing-info {
  width: 100%;
  height: auto;
  gap: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.providing .providing-info .providing-info_illustration {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F8FAFC;
  gap: 50px;
  border-radius: 0 0 50px 0;
}
.providing .providing-info .providing-info_illustration h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #000;
  letter-spacing: 3px;
  padding: 50px 0 50px 0;
  border-bottom: 2px solid #516EFF;
  width: 77%;
  margin-left: 165px;
}
.providing .providing-info .providing-info_illustration h3 > span {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #FFD700;
}
.providing .providing-info .providing-info_illustration > img {
  margin-bottom: 100px;
  margin-right: -100px;
}
.providing .providing-info .providing-info_offers {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
}
.providing .providing-info .providing-info_offers > p {
  width: 86%;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #777777;
  letter-spacing: 2px;
  margin-bottom: 200px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1882352941);
  margin-left: -102px;
  padding-left: 109px;
  padding-bottom: 54px;
  margin-top: -51px;
}
.providing .providing-info .providing-info_offers .providing-info_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  margin-left: -220px;
}
.providing .providing-info .providing-info_offers .providing-info_list > h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #000;
  position: absolute;
  top: -80px;
  left: 264px;
}
.providing .providing-info .providing-info_offers .providing-info_list ul {
  padding: 0 50px;
  gap: 10px;
}
.providing .providing-info .providing-info_offers .providing-info_list ul li {
  list-style-image: url(/assets/icons/list_icon_shield.svg);
  padding: 5px;
}
.providing .providing-info .providing-info_offers .providing-info_list ul li > span {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.abilities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.abilities .abilities-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.abilities .abilities-text .abilities-text_right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}/*# sourceMappingURL=styles.css.map */